@{
    ViewBag.Title = "";
}

<div class="container bg-white p-15">
    <div class="row">
        <div class="col-12 bg-info text-center">
            <h1 class="display-4 text-light p-3" style="font-family:Arial, Helvetica, sans-serif;">Important!</h1>
        </div>
    </div>
    <div class="row">
        <div class="offset-1 col-10 my-3">
            <p class="lead">Hello {Username},</p>
            <br />
            <p class="lead">Your recipient for the {GroupName} group has been chosen.</p>
            <div class="text-center">
                <p><strong>Your recipient</strong>: {RecipientUsername}</p>
            </div>
            <p class="lead">To view their wishlist, go to our website and view your profile.</p>
            <br />
            <p class="lead">From your friends,<br /><span style="margin-left: 5%;">Holiday Exchanges, Inc.</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 bg-info text-center justify-content-center">
            <div class="flex-center">
                <a href="https://github.com/BrendanNguyenCS">
                    <i class="fab fa-github px-1 py-2 mr-1 text-white text-decoration-none"></i>
                </a>

                <a href="#">
                    <i class="fab fa-facebook-f px-1 py-2 mr-1 text-white text-decoration-none"></i>
                </a>

                <a href="#">
                    <i class="fab fa-instagram px-1 py-2 mr-1 text-white text-decoration-none"></i>
                </a>

                <a href="#">
                    <i class="fab fa-discord px-1 py-2 text-white text-decoration-none"></i>
                </a>
            </div>
        </div>
    </div>
</div>