@{
    ViewBag.Title = "Contact Email";
}

<div class="container bg-white p-15">
    <div class="row">
        <div class="col-12 bg-info text-center">
            <h1 class="display-4 text-light p-3" style="font-family: Arial, Helvetica, sans-serif;">Thank You!</h1>
        </div>
    </div>
    <div class="row">
        <div class="offset-1 col-10 my-3">
            <p>Hello {ContactName},</p>
            <br />
            <div style="margin: auto 10% auto 10%;">
                <p class="lead">Thank you for your constructive feedback! If you ran into an issue that caused the site to fail, the developer has noted your situation to prevent similar problems in the future. For updates on fixes to the site, please follow our socials!</p>
                <p class="lead">Below is the message you provided with your feedback. Please confirm that this is correct. If not, feel free to email <a href="mailto:holidayexchanges.ma@gmail.com">us</a>.</p>
                <p style="margin: auto 5% auto 5%">{Message}</p>
                <p class="lead">If you getting this email in error, please ignore this message.</p>
            </div>
            <br />
            <p class="lead">From your friends,<br /><span style="margin-left: 5%;">Holiday Exchanges, Inc.</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 bg-info text-center justify-content-center">
            <div class="flex-center">
                <a href="https://github.com/BrendanNguyenCS">
                    <i class="fab fa-github px-1 py-2 mr-1 text-white text-decoration-none"></i>
                </a>

                <a href="#">
                    <i class="fab fa-facebook-f px-1 py-2 mr-1 text-white text-decoration-none"></i>
                </a>

                <a href="#">
                    <i class="fab fa-instagram px-1 py-2 mr-1 text-white text-decoration-none"></i>
                </a>

                <a href="#">
                    <i class="fab fa-discord px-1 py-2 text-white text-decoration-none"></i>
                </a>
            </div>
        </div>
    </div>
</div>