<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <hgroup>
        <h1>Success.</h1>
        <h2>Congrats, you did something right.</h2>
    </hgroup>
    <input type="button" class="btn btn-primary btn-lg" value="Home plz" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
</body>
</html>