<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div class="container">
        <section id="SuccessMessageSection">
            <div class="row">
                <div class="col-12">
                    <h1 class="page-header display-4 text-success font-weight-bold">Success.</h1>
                    <hr />
                    <h2>Congrats, you did something right.</h2>
                </div>
            </div>
        </section>
        <section id="SuccessRedirectButton">
            <div class="row">
                <div class="col-12">
                    <a href="@Url.Action("Index", "Home")" type="button" class="btn btn-primary btn-lg">
                        <i class="fas fa-home"></i>&nbsp;Home plz
                    </a>
                </div>
            </div>
        </section>
    </div>
</body>
</html>