[*.cs]

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = none

# IDE0060: Remove unused parameter
dotnet_diagnostic.IDE0060.severity = none

# CS0168: Variable is declared but never used
dotnet_diagnostic.CS0168.severity = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# CS0419: Ambiguous reference in cref attribute
dotnet_diagnostic.CS0419.severity = none
