@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p>Invidunt at sit diam lorem labore ea accusam quod accusam consetetur vel eu no lorem iusto blandit rebum dolore amet praesent sed no delenit sed rebum labore facilisis doming facilisis sed ipsum labore voluptua amet blandit illum voluptua vel labore est nobis et sed voluptua dolor at eum eu ea</p>