div#SmallSocialIcons button {
    color: white;
}

div#LargeSocialIcons a {
    text-decoration: none;
}

    div#LargeSocialIcons a:hover {
        background: rgba(128,128,128,0.1);
    }

    div#LargeSocialIcons a:active {
        background: rgba(128,128,128,0.3) !important;
    }

@media (max-width: 575.98px) {
    button.github {
        background-color: #6e5494;
    }

        button.github:hover {
            background-color: #604983;
        }

        button.github:active {
            background-color: #544072;
        }

    button.fb {
        background-color: #3b5998;
    }

        button.fb:hover {
            background-color: #334d84;
        }

        button.fb:active {
            background-color: #2c4272;
        }

    button.discord {
        background-color: #5865F2;
    }

        button.discord:hover {
            background-color: #3F4CD9;
        }

        button.discord:active {
            background-color: #0C19A6;
        }

    button.insta {
        background-color: #e1306c;
    }

        button.insta:hover {
            background-color: #db1f5e;
        }

        button.insta:active {
            background-color: #cd1d58;
        }
}

@media (min-width: 576px) {
    a.github, a.github:hover {
        color: #6e5494;
        font-weight: 600;
    }

        a.github:active {
            border: 1px solid #6e5494;
        }

    a.fb, a.fb:hover {
        font-family: "ufonts.com_klavika-bold-opentype", sans-serif;
        font-weight: bold;
        color: #3b5998;
    }

        a.fb:active {
            border: 1px solid #3b5998;
        }

    a.discord, a.discord:hover {
        font-family: UniSansDemo-HeavyCAPS, sans;
        color: #5865F2;
    }

        a.discord:active {
            border: 1px solid #5865F2;
        }

    a.insta, a.insta:hover {
        color: #e1306c;
        font-family: Fontspring-DEMO-blue_vinyl_regular_ps_ot, sans;
    }

        a.insta:active {
            border: 1px solid #e1306c;
        }
}