#PageTitleSection {
    margin-bottom: 10px;
}

legend {
    font-weight: 600;
    text-align: center;
    padding: 0 0.5rem 0 0.5rem;
    width: auto;
}

fieldset {
    border: 1px solid black;
    padding-left: 0.25rem;
    margin-bottom: 20px;
    padding: 10px 0 10px 0;
}