body {
    padding-top: 56px;
    padding-bottom: 56px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

.btn {
    margin: 3px 3px;
    border: none;
}

.required::after {
    content: "*";
    font-weight: bold;
    color: #d9534f;
    display: inline;
}

small {
    text-align: left;
}

.page-header {
    padding-bottom: 0.5rem;
    margin: 1.5rem auto 0.5rem auto;
}

fieldset {
    border-radius: 4px;
    margin: 5px;
}

legend {
    border-radius: 4px;
    color: blue;
    padding: 3px 5px 3px 7px;
    margin: 10px;
}

footer {
    height: 56px;
}

#FooterSocialIcons div a i {
    color: white;
    text-decoration: none;
}

/* Find out how to stack the inline form in Wishlist.cshtml under 767px */
@media screen and (max-width: 767px) {
    #OrHelpText {
        text-align: center !important;
    }

    fieldset {
        border: none !important;
    }
}